@using BookStore.Catalog.Dto;
@model List<CatalogDto>

<link rel="stylesheet" href="~/css/upperStyles.css" asp-append-version="true">
<link rel="stylesheet" href="~/css/catalogPageStyles.css" asp-append-version="true">

<div class="PanelLeft">
    <div class="outProducts">
        <table class="table">
            <thead>
                <tr>
                    <th colspan="4">Каталог</th>
                </tr>
            </thead>
            <tbody>
                @{
                        if (Model.Count!=0)
                        {
                            @:<tr>

                            for (int i = 1; i <= Model.Count; i++)
                            {
                                    <td>
                                        <div class="productDiv">
                                            <img src="@Model[i-1].PathToImage">
                                            <p>@Model[i-1].Name</p>
                                        </div>
                                    </td>

                                    if (i % 4 == 0 || i == Model.Count)
                                    {
                                        @:</tr>
                                        
                                        if (i != Model.Count)
                                        {
                                           @:<tr> 
                                        }
                                    }
                            }
                        } 
                    }      
            </tbody>
        </table>
    </div>
</div>
