@using BookStore.Catalog.Dto;
@model List<CatalogDto>

<link rel="stylesheet" href="~/css/upperStyles.css" asp-append-version="true">
<link rel="stylesheet" href="~/css/catalogPageStyles.css" asp-append-version="true">

<div class="PanelLeft">
    <div class="outProducts">
        <table class="table">
            <thead>
                <tr>
                    <th colspan="4">Каталог</th>
                </tr>
            </thead>
            <tbody>
                    @if (Model.Count!=0)
                    {
                        <tr>
                    }
                    @for (int i = 0; i < Model.Count; i++)
                        {
                                <td>
                                    <div class="productDiv">
                                        <img src="@Model[i].PathToImage">
                                        <p>@Model[i].Name</p>
                                    </div>
                                </td>

                                if (i % 4 == 0)
                                {
                                    </tr>
                                }

                                if (i != Model.Count - 1)
                                {
                                   <tr> 
                                }
                        }
                    }
            </tbody>
        </table>
    </div>
</div>
<div class="PanelRight">
    <div class="filter-panel">
        <h2>Фильтры</h2>
        <form>
            <fieldset class="filterFieldset">
                <label for="Genr">Жанр:</label>
                <select class="filterSelect" id="Genr" name="Genr">
                    <option value="fantasy">Фантастика</option>
                    <option value="prose">Проза</option>
                    <option value="popular_science">Научно-популярная</option>
                    <option value="foreign">Зарубежная</option>
                    <option value="domestic">Отечественная</option>
                </select>
            </fieldset>

            <fieldset class="filterFieldset">
                <label>Адрес:</label>

                <div class="form_radio">
                    <input type="radio" id="kuibysheva" name="Address" value="kuibysheva" />
                    <label for="kuibysheva">ул. Куйбышева, 95Б, Пермь</label>
                </div>

                <div class="form_radio">
                    <input type="radio" id="popova" name="Address" value="popova" />
                    <label for="popova">ул. Попова, 23, Пермь</label>
                </div>

                <div class="form_radio">
                    <input type="radio" id="speshilova" name="Address" value="speshilova" />
                    <label for="speshilova">ул. Спешилова, 114, Пермь</label>
                </div>

            </fieldset>

            <fieldset class="filterFieldset">
                <label for="priceRange">Диапазон цен:</label>
                <input id="priceRange" type="range" min="1" max="10000" value="1" name="Price">
                <p class="rangeValue">Р:0</p>
            </fieldset>

            <fieldset class="filterFieldset">
                <label for="pageRange">Количество страниц:</label>
                <input id="pageRange" type="range" min="1" max="10000" value="1" name="PageCount">
                <p class="rangeValue">Страниц:</p>
            </fieldset>

            <button id="apply-filters" type="submit">Submit</button>
        </form>
    </div>
</div>