<link rel="stylesheet" href="~/css/generalStyles.css" asp-append-version="true">
<link rel="stylesheet" href="~/css/upperStyles.css" asp-append-version="true">
<link rel="stylesheet" href="~/css/newsPageStyles.css" asp-append-version="true">

<div class="PanelLeft">
    <div class="outContainer">
        <div class="upperContainer">
            <label class="lake" href="#" title="" alt="Сентябрь 2023. Выпуск №3 Это интересно 1. Литературный тиндер: любовь в советскую и постсоветскую
                    эпохи. Мы пофантазировали о том, как выглядели бы профили персонажей советских и современных
                    российских писателей в дейтингах, и как сложились бы их отношения, если они нашли бы друг друга
                    именно там. 2. Что мир читал в 1865 году? Пришествие Алисы и полет на Луну. В этом году читателю
                    выпало свести знакомство с целым рядом очень интересных книг самого разного жанра. И с целым рядом
                    авторов, о которых он раньше и не слышал. 3. Почему из «Смертельного образования» получилось бы
                    классное аниме. Смертельно опасная школа волшебников, подростки">
                <img src="~/images/newsImages/1.jpg" alt="">
                <label class="textInside">
                    Литературный дайджест: персонажи в литературном тиндере и многое
                    другое
                </label>
            </label>
        </div>

        <div class="upperContainer">
            <label class="lake" href="#" title="" alt="В день рождения великого языковеда Сергея Ивановича Ожегова, составителя одного из самых популярных
                    толковых словарей, мы с вами ненадолго перенесемся в прошлое и проверим знание старинных или
                    вышедших из употребления слов. Пройти тест">
                <img src="~/images/newsImages/2.jpg" alt="">
                <label class="textInside"> Кто такой форейтор? Проверяем свой словарный запас</label>
            </label>
        </div>

        <div class="upperContainer">
            <label class="lake" href="#" title="" alt="В современном мире множество причин для тревог: нелюбимая работа, вынужденный переезд, утрата
                    близких... Неисчерпаемый колодезь личных проблем — неспособность принять себя, синдром самозванца,
                    страх совершить ошибку и многое, многое другое. Новая книга психолога Ольги Примаченко, автора
                    бестселлера «К себе нежно», послужит лекарством для ран и тревог. Конечно, нет универсального
                    рецепта для всех на свете проблем, зато можно научиться верить себе, спокойно воспринимать
                    окружающий мир и строить жизнь так, как хочется нам, а не так, как диктуют другие. Ольга Примаченко
                    - Всё закончится, а ты нет. ">
                <img src="~/images/newsImages/3.jpg" alt="">
                <label class="textInside"> Книга – лекарство для души</label>
            </label>
        </div>
        <div class="upperContainer">
            <label class="lake" href="#" title="" alt="С прошлого ноября, как и каждый предыдущий год, Шведская академия получает тысячи писем в поддержку
                    авторов, как признанных, так и малоизвестных, претендующих на Нобелевскую премию. Такие номинации
                    могут быть сделаны только квалифицированными номинаторами. Кто обладает правом номинировать
                    кандидатов на Нобелевскую премию: 1. Члены Шведской академии и других академий, институтов и
                    обществ, сходных с ней по структуре и назначению. 2. Профессора литературы и лингвистики в
                    университетах и колледжах. 3. Предыдущие лауреаты Нобелевской премии по литературе.">
                <img src="~/images/newsImages/4.jpg" alt="">
                <label class="textInside"> Всё о Нобелевской премии по литературе 2023 года</label>
            </label>
        </div>

        <div class="upperContainer">
            <label class="lake" href="#" title="" alt="Сегодня признанному Королю Ужасов исполняется 76 лет, и мы попросили нашего колумниста Энджи Эфенди
                    раскрыть тайны такой притягательности прозы этого великого автора. Впервые я прочитала рассказ Кинга
                    в девять лет в «Антологии современного американского рассказа». Никак не ожидала от смирной
                    советской книжки, где обычно печатались истории с социальным подтекстом, и от рассказа с милым
                    названием «Дети кукурузы» такой подставы. Потом уже стали появляться на прилавках книги Кинга в
                    жутковатых (но креативных) обложках 90-х годов, и я узнала, насколько популярный он автор.">
                <img src="~/images/newsImages/5.jpg" alt="">
                <label class="textInside"> Стивен Кинг: 7 секретов мастерства мэтра ужасов</label>
            </label>
        </div>
    </div>
</div>