@model List<NewsDto>

<link rel="stylesheet" href="~/css/upperStyles.css" asp-append-version="true">
<link rel="stylesheet" href="~/css/newsPageStyles.css" asp-append-version="true">

<div class="PanelLeft">
    <div class="outContainer">
        @{
            foreach (var item in Model)
            {
                <div class="upperContainer">
                    <label class="lake" href="#" title="" alt="@item.Content">
                        <img src="@item.PathToImage" alt="">
                        <label class="textInside"> @string.Join(" ", item.Content!.Split().Take(5))..... </label>
                    </label>
                </div>
            }
        }
    </div>
</div>