<link rel="stylesheet" href="../css/generalStyles.css" asp-append-version="true">
<link rel="stylesheet" href="~/css/upperStyles.css" asp-append-version="true">
<link rel="stylesheet" href="~/css/indexStyles.css" asp-append-version="true">

<div class="PanelLeft">
    <div class="partProducts">
        <div class="upperItemsPanel">
            <div class="upperItem">
                <a href="../pages/catalogPage.html">
                    <img src="~/images/indexImages/part1.jpg">
                </a>
            </div>
            <div class="upperItem">
                <a href="../pages/catalogPage.html">
                    <img src="~/images/indexImages/part.jpg">
                </a>
            </div>
            <div class="upperItem">
                <a href="../pages/catalogPage.html">
                    <img src="~/images/indexImages/part2.jpg">
                </a>
            </div>
            <div class="upperItem">
                <a href="../pages/catalogPage.html">
                    <img src="~/images/indexImages/part3.jpg">
                </a>
            </div>
            <div class="upperItem">
                <a href="~/pages/catalogPage.html">
                    <img src="~/images/indexImages/sale.png">
                </a>
            </div>
            <div class="upperItem">
                <a href="../pages/catalogPage.html">
                    <img src="~/images/indexImages/part4.jpg">
                </a>
            </div>
            <div class="upperItem">
                <a href="../pages/catalogPage.html">
                    <img src="~/images/indexImages/part5.jpg">

                </a>
            </div>
            <div class="upperItem">
                <a href="../pages/catalogPage.html">
                    <img src="~/images/indexImages/part6.jpg">
                </a>
            </div>
        </div>

        <div class="lowerItemsPanel">
            <div class="upperItem">
                <a href="../pages/catalogPage.html">
                    <img src="~/images/catalogImages/1.jpg">
                </a>
            </div>
            <div class="upperItem">
                <a href="../pages/catalogPage.html">
                    <img src="~/images/catalogImages/2.jpg">
                </a>
            </div>
            <div class="upperItem">
                <a href="../pages/catalogPage.html">
                    <img src="~/images/catalogImages/3.jpg">
                </a>
            </div>
            <div class="upperItem">
                <a href="../pages/catalogPage.html">
                    <img src="~/images/catalogImages/4.jpg">
                </a>
            </div>
            <div class="upperItem">
                <a href="../pages/catalogPage.html">
                    <img src="~/images/catalogImages/5.jpg">
                </a>
            </div>
            <div class="upperItem">
                <a href="../pages/catalogPage.html">
                    <img src="~/images/catalogImages/6.jpg">
                </a>
            </div>
        </div>
    </div>
</div>