@using BookStore.Admin.Entity;
@using BookStore.Data.EntityDto.AdminDto;
@model AdminItemsDto<UserEntity>

<link rel="stylesheet" href="~/css/upperStyles.css" asp-append-version="true">
<link rel="stylesheet" href="~/css/adminPageStyles.css" asp-append-version="true">

<div class="PanelLeft">
    <label class="upperLabel">Добро пожаловать, Валиев Антон Дмитриевич</label>
    <div class="outContainer">
        <div class="leftContainer">
            <nav class="modifyList">
                <ul>
                    <li><a asp-controller="Admin" asp-action="GetUsersEditView">Пользователи</a></li>
                    <li><a asp-controller="Admin" asp-action="GetCatalogEditView">Каталог</a></li>
                    <li><a asp-controller="Admin" asp-action="GetNewsEditView">Новости</a></li>
                </ul>
            </nav>
            <form class="formContainer" method="post">
                <div class="textInput">
                    <label for="Name">ФИО:</label>
                    <input type="text" id="Name" name="Name" placeholder=@Model.ActiveItem.Name>
                </div>
                <div class="textInput">
                    <label for="Login">Логин:</label>
                    <input type="text" id="Login" name="Login" placeholder=@Model.ActiveItem.Login>
                </div>
                <div class="textInput">
                    <label for="Password">Пароль:</label>
                    <input type="text" id="Password" name="Password" placeholder=@Model.ActiveItem.Password>
                </div>

                <div class="radioInput">
                    <label>Роль:</label>
                    <input type="radio" id="isAdmin" value="isAdmin" name="userRole" checked="@(Model.ActiveItem.Role==UserRole.Admin)"><label for="isAdmin">Администратор</label><br>
                    <input type="radio" id="isUser" value="isUser" name="userRole" checked="@(Model.ActiveItem.Role==UserRole.User)"><label for="isUser">Пользователь</label>
                </div>

                <div class="submitInput">
                    <button type="submit">Отправить</button>
                </div>
            </form>
        </div>

        <div class="rightContainer">
            <a asp-controller="Admin" asp-action="GetUsersEditView" class="addButton">Добавить</a>
            <nav class="itemsList">
                <ul>
                    @{
                        foreach (var item in Model.Items)
                        {
                            <li><a asp-controller="Admin" asp-action="SelectingUserElement" asp-route-itemId="@item.Id">@item.Name</a></li>
                        }
                    }
                </ul>
            </nav>
        </div>
    </div>
</div>
