@using BookStore.Data.EntityDto.AdminDto;
@model AdminItemsDto<AdminNewsDto>

<link rel="stylesheet" href="~/css/upperStyles.css" asp-append-version="true">
<link rel="stylesheet" href="~/css/adminPageStyles.css" asp-append-version="true">

<div class="PanelLeft">
    <label class="upperLabel">Добро пожаловать, Валиев Антон Дмитриевич</label>
    <div class="outContainer">
        <div class="leftContainer">
            <nav class="modifyList">
                <ul>
                    <li><a asp-controller="Admin" asp-action="GetUsersEditView">Пользователи</a></li>
                    <li><a asp-controller="Admin" asp-action="GetCatalogEditView">Каталог</a></li>
                    <li><a asp-controller="Admin" asp-action="GetNewsEditView">Новости</a></li>
                </ul>
            </nav>
            <label class="upperLabel">@Model.IsCreatedMessage</label>
            <form asp-action="SubmitNewsItem" asp-controller="Admin" class="formContainer" method="post" enctype="multipart/form-data">
                <div class="textInput">
                    <label asp-for="ActiveItem.ViewName">Содержимое новости:</label>
                    <textarea asp-for="ActiveItem.ViewName" required>@Model.ActiveItem.ViewName</textarea>
                </div>
                <div class="textInput">
                    <label asp-for="File">Изображение:</label>
                    <input type="file" asp-for="File">
                </div>
                <div class="submitInput">
                    <button type="submit">Отправить</button>
                </div>
            </form>
        </div>

        <div class="rightContainer">
            <a asp-controller="Admin" asp-action="GetNewsEditView" class="addButton">Добавить</a>
            <nav class="itemsList">
                <ul>
                    @{
                        foreach (var item in Model.Items)
                        {
                            <li>
                                <div class="linkLine">
                                    <a asp-controller="Admin" asp-action="SelectingNewsElement" asp-route-itemId=@item.Id style="float: left">@string.Join(" ", item.ViewName!.Split().Take(5)).....</a>
                                    <a asp-controller="Admin" asp-action="DeleteNews" asp-route-itemId="@item.Id" style="float: right; width:10px">X</a>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </nav>
        </div>
    </div>
</div>