@using BookStore.Data.EntityDto.AdminDto;
@using BookStore.News.Entity;
@model AdminItemsDto<NewsEntity>

<link rel="stylesheet" href="~/css/upperStyles.css" asp-append-version="true">
<link rel="stylesheet" href="~/css/adminPageStyles.css" asp-append-version="true">

<div class="PanelLeft">
    <label class="upperLabel">Добро пожаловать, Валиев Антон Дмитриевич</label>
    <div class="outContainer">
        <div class="leftContainer">
            <nav class="modifyList">
                <ul>
                    <li><a asp-controller="Admin" asp-action="GetUsersEditView">Пользователи</a></li>
                    <li><a asp-controller="Admin" asp-action="GetCatalogEditView">Каталог</a></li>
                    <li><a asp-controller="Admin" asp-action="GetNewsEditView">Новости</a></li>
                </ul>
            </nav>
            <label class="upperLabel">@Model.IsCreatedMessage</label>
            <form asp-action="SubmitNewsItem" asp-controller="Admin" class="formContainer" method="post">
                <div class="textInput">
                    <label asp-for="ActiveItem.Content">Содержимое новости:</label>
                    <textarea asp-for="ActiveItem.Content" required>@Model.ActiveItem.Content</textarea>
                </div>
                <div class="textInput">
                    <label asp-for="File">Изображение:</label>
                    <input type="file" asp-for="File">
                </div>
                <div class="submitInput">
                    <button type="submit">Отправить</button>
                </div>
            </form>
        </div>

        <div class="rightContainer">
            <a asp-controller="Admin" asp-action="GetNewsEditView" class="addButton">Добавить</a>
            <nav class="itemsList">
                <ul>
                    @{
                        foreach (var item in Model.Items)
                        {
                            <li><a asp-controller="Admin" asp-action="SelectingNewsElement" asp-route-itemId=@item.Id>@string.Join(" ", item.Content!.Split().Take(5)).....</a></li>
                        }
                    }
                </ul>
            </nav>
        </div>
    </div>
</div>