* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 2em;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(205, 236, 248);
}

.container {
    display: grid;
    height: 100vh;
    grid-template-rows: 80px auto 60px;
}

/* Описание Grird-Areas */
.PanelUpper {
    height: 80px;
    border-bottom: 2px solid black;
    border-radius: 0px 0px 15px 15px;
}

.PanelLeft {
    height: fit-content;
}

.PanelUnder {
    height: 60px;
}
