.UnderContainer {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 3fr 1fr;
    border: 2px solid white;
    border-radius: 15px;
    background-color: rgb(104, 104, 104);
}

.version {
    text-align: center;
    background-color: none;
    color: white;
    font-size: 0.8em;
}

.time {
    text-align: center;
    background-color: none;
    color: white;
    font-size: 0.8em;
}

.any {
    text-align: center;
    background-color: none;
    color: white;
    font-size: 0.8em;
}

.clockpage {
    color: white;
    margin: auto;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    font-size: 32px;
    padding: 10px;
    font-weight: bold;
}

#dayOfWeek {
    display: block;
    font-weight: normal;
    font-size: 18px;
}
