.toMainItem {
    float: left;
}

.burgerMenuItem {
    display: flex;
    margin: 0.2em;
}

.pageList {
    display: none;
}

    .pageList::-webkit-scrollbar {
        width: 0;
    }

    .pageList li {
        padding: 0.2em;
    }

        .pageList li a {
            display: block;
            color: rgb(126, 120, 120);
            border-bottom: 2px solid rgb(126, 120, 120);
            border-radius: 0px 0px 10px 10px;
            text-align: center;
            padding: 5px;
            text-decoration: none;
            font-size: 0.6em;
            font-weight: 600;
            font-family: Courier;
        }

a img {
    height: 2em;
    float: left;
}

.pageList ul {
    display: flex;
    list-style-type: none;
}

.pageList li a:hover {
    color: rgb(0, 0, 0);
    border-bottom: 3px solid rgb(0, 0, 0);
}

#burger {
    -webkit-appearance: none;
    appearance: none;
}

.noSelectLabel {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#burger:checked + label + nav {
    display: block;
    overflow-y: scroll;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-height: 80px;
}
