<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/generalStyles.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/upperStyles.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/indexStyles.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/underPanelStyle.css">
    <script src="~/js/underPanel.js"></script>
    <title>ТвойКнижный</title>
</head>

<body>
    <div class="container">
        <div class="PanelUpper">
            <div class="toMainItem">
                <a asp-controller="Main" asp-action="GetView">
                    <img src="~/images/shreImage/logo.png">
                </a>
            </div class="toMainButton">
            <div class="burgerMenuItem">
                <input type="checkbox" id="burger">
                <label class="noSelectLabel" for="burger"> ☰ </label>
                <nav class="pageList">
                    <ul>
                        <li><a asp-controller="News" asp-action="GetView">Новости</a></li>
                        <li><a asp-controller="Catalog" asp-action="GetView">Каталог</a></li>
                        <li><a asp-controller="Contact" asp-action="GetView">Контакты</a></li>
                        <li><a asp-controller="Login" asp-action="GetView">Авторизация</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        @RenderBody()


        <div class="PanelUnder">
            <div class="UnderContainer">
                <div class="any">
                    <span id="current_date_time_block"></span>
                </div>

                <div class="time">
                    <body onload="clockTimer();">
                        <div class="clockpage">
                            <span id="clock"></span>
                            <span id="dayOfWeek"></span>
                        </div>
                    </body>
                </div>

                <div class="version">
                    <label>Actual version v1.0.0</label>
                </div>
            </div>
        </div>
    </div>
</body>

</html>