<link rel="stylesheet" href="~/css/upperStyles.css" asp-append-version="true">
<link rel="stylesheet" href="~/css/contactsPageStyles.css" asp-append-version="true">

<div class="PanelLeft">
    <div class="outClass">
        <div class="contactsDiv">
            <div class="header">
                <h2>Наши контакты</h2>
            </div>
        </div>
        <div class="contactsDiv">
            <div class="name">
                <h2>Валиев Антон Дмитриевич</h2>
            </div>
            <div class="body">
                <h2 class="rightText">khabfafkjhb@gmail.com</h2>
                <h2 class="rightText">898249553535</h2>
            </div>

        </div>

        <div class="contactsDiv">
            <div class="name">
                <h2>Полынский Арсений Андреевич</h2>
            </div>
            <div class="body">
                <h2 class="rightText">akjbfkabfjhabf@gmail.com</h2>
                <h2 class="rightText">898005553536</h2>
            </div>

        </div>

        <div class="contactsDiv">
            <div class="name">
                <h2>Рогожников Даниил Владимирович</h2>
            </div>
            <div class="body">
                <h2 class="rightText">1894bafbahfbj@gmail.com</h2>
                <h2 class="rightText">898005553535</h2>
            </div>
        </div>
    </div>
</div>